  header {

   @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   }
  }
  
  .header-contacts {

    display: flex;
    flex-flow: column-reverse;

    li{
      font-weight: 500px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }

    li:nth-child(2) {

      margin-bottom: 32px;

      font-size: 34px;

      color: $accent;
    }

    li:nth-child(1) {
      font-size: 24px;
    }

    margin-bottom: 64px;

    @media screen and (min-width: 1200px) { 
      display: flex;
      padding: 0;
      margin-left: auto;

    }

    color: $secondaryColor; 
  }

  .header-contacts-item:not(:last-child) {

    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }

  }


  .header-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

  @media screen and  (min-width: 1200px) {
    height: 80px;
  }
  
  }

  .navigation {


    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }

  }

  .nav-links {
    display: block;
  }

   

  .nav-item:not(:last-child) {

    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  .nav-list {

    @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }

    margin: 0;
  
    text-transform: capitalize;
  }

 .nav-list a:hover,
 .nav-list a:focus,
 .header-contacts a:hover,
 .header-contacts a:focus {
  color: $accent;
  fill: $accent;
  }

  .nav-list a,
  .header-contacts a {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .local-line {

    @media screen and (max-width: 767px) {
      display: none;
    }

    position: absolute;
    bottom: 0;
  
    width: 100%;
    height: 4px;
    border-radius: 2px;
  
    background-color: $accent;
  }

  .header-contacts a {
    display: flex;
    align-items: center;
  }

  .portfolio-header {
    border: 1px solid #ececec;
  }

  .envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  .smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }

  .hidden-nav{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    padding: 48px 40px;

    background-color: $white;

    @media screen and  (min-width: 1200px) {
      display: flex;
      align-items: center;
      
    }
  }

  .menu-button{
    display: inline-flex;
    background-color: $white;
    border: none;
    padding: 0;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .menu-close{
    position: absolute;
    top: 10px;
    right: 15px;
  }


  .hid-nav-block{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
  }


  .nav-socials{
    display: flex;

    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-weight: 500;

    li{
      position: relative;
      color: $accent;
    }

    li:not(:last-child){
      margin-right: 20px;
    }

  }

  .header-contacts svg{
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .soc-line {
    position: absolute;
    right: -10px;
  }
  
  